.my-appointment{
	img{
		border-radius: 8px;
	}
	h4{
		font-size: 32px;
	    font-weight: bold;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: normal;
	    letter-spacing: -0.6px;
	    margin-bottom: 32px;
	}
	h6{
		font-family: AvenirLTStd-Heavy !important;
	    font-size: 18px;
	    font-weight: 900;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: 1.38;
	    letter-spacing: normal;
	    color: theme-color('gamma');
	    margin-bottom: 0;
	}
	p{
		font-family: AvenirLTStd-Roman;
	    font-size: 14px;
	    font-weight: normal;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: normal;
	    letter-spacing: normal;
	    color: #8b8b8b;
	    margin-bottom: 0;
	}
	.date-time{
		span{
			font-family: AvenirLTStd-Roman;
			  font-size: 14px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: normal;
			  color: #ffffff;
		}
		border-radius: 4px;
		background-color: theme-color('secondary');
	    padding: 7px;
		line-height: normal;
	    margin-bottom: 12px;
	}
	.btn{
		border-radius: 24px;
	}
	.link-btn{
		font-family: AvenirLTStd-Roman;
		  font-size: 14px;
		  font-weight: normal;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  text-align: left;
		  padding: 0 !important;
		  padding-bottom: 20px !important;
		  background-color: transparent;
		  border-color: transparent;
		  color: theme-color('primary');
	      text-decoration: underline !important;
			box-shadow: none;
			border-radius: 0 !important;
	}
}