.o_mega_menu{
	.mega_menu_one_snippet{
		.heading-contents{
			p.heading{
				font-size: 14px;
			  	font-weight: 900;
			  	font-stretch: normal;
			  	font-style: normal;
			  	line-height: 1.67;
			  	letter-spacing: 2px;
		  	    margin-bottom: 15px !important;
			}
			a.menu_item{
				font-size: 16px;
			  	font-weight: normal;
			  	font-stretch: normal;
			  	font-style: normal;
			  	line-height: 2.5;
			  	letter-spacing: normal;
			  	text-decoration: none;
			  	transition: 0.2s;
				-webkit-transition: 0.2s;
			    &:hover{
			    	color: theme-color('secondary') !important;
			    }
			}
			a.menu_item.lineheight{
				line-height: 1.63;
			}
		}
		.right-img{
			img{
				position: relative;
			}
			p.image-text{
				a{
					text-decoration: none;
				}
				position: absolute;
			    bottom: 15px;
			    transform: translateX(-50%);
			    left: 50%;
			    text-align: left;
			    margin: 0;
			    width: 220px;
			    font-size: 18px;
			    font-weight: 900;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: 1.22;
			    letter-spacing: normal;
			    color: #ffffff;
			    z-index: 2;
			}
			p.image-text.image-text-2{
				bottom: 70px;
				font-size: 12px;
			    letter-spacing: 2px;
			    font-family: AvenirLTStd-Heavy;
			    text-transform: uppercase;
			}
			text-align: center;
    		position: relative;
		}
		.right-img.menu-3{
			img.mix-blend{
				mix-blend-mode: multiply;
			}
			width: 259px;
		    margin: auto;
		    height: 280px;
		    background-color: rgba(139, 139, 139, 0.04);
		}
		padding: 33px 154px;
	}
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    border: 0;
}