@for $i from 1 through length($o-colors-complete) {
  $color: nth($o-colors-complete, $i);
  .o_calendar_view .fc-view {
    .fc-bgevent.o_calendar_color_#{$i} {
      border-width: 1px;
      border-color: $color;
      color: darken($color, 35%);
      background: mix($color, white);
    }
  }
}

@for $i from 1 through length($o-colors-complete) {
  $color: nth($o-colors-complete, $i);
  .o_calendar_view .fc-view {
    .fc-event.o_calendar_color_#{$i} {
      &.o_cw_custom_agenda_hover, &.o_cw_custom_agenda_highlight {
        box-shadow: 0 12px 12px -5px rgba($color, 0.3);
        color: color-yiq($color);

        .fc-bg {
          background: $color;
        }
      }
    }
  }
}

@for $i from 1 through length($o-colors-complete) {
  $color: nth($o-colors-complete, $i);
  .o_calendar_view .fc-view {
    .o_calendar_hour_color_#{$i} {
      background: $color;
      color: color-yiq($color);
    }
  }
}

.o_calendar_view {
  .fc-event {
    &.o_cw_custom_highlight {
      z-index: 10 !important;

      .fc-bg {
        opacity: 0.95;
      }
    }
  }

  .o_calendar_widget {
    .fc-month-view {
      .fc-event {
        &.o_cw_nobg {
          &.o_cw_custom_agenda_hover, &.o_cw_custom_agenda_highlight, &:hover {
            .fc-bg {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}