$primarycolor: #63bae9 !default;
$secondarycolor: #de1a46 !default;
$primarygamma: #201f4c !default;
$ptextcolor: #8b8b8b !default;


/* -------------------------- Main Colors ------------------------*/
$o-theme-color-palettes: (
    (
        'alpha': $primarycolor,
        'beta': $secondarycolor,
        'gamma': $primarygamma,
        'delta': #1b1b1b,
        'epsilon': #eee,
    ),
);
/* -------------------------- Text Colors ------------------------*/
$o-color-palettes: (
    (
		'body': null, // Default to bootstrap
	    'menu': #F9F9F9,
	    'footer': #F9F9F9,
	    'text': $ptextcolor,
	    'h1':  #63bae9,
	    'h2':  #63bae9,
	    'h3':  #63bae9,
	    'h4':  #63bae9,
	    'h5':  #63bae9,
	    'h6':  #63bae9,
    ),
);
/* -------------------------- State Colors ------------------------*/
$success:       #00b115 !default;
$info:          #ffaa50 !default;
$warning:       #ff5050 !default;
$danger:        #900000 !default;


/* -------------------------- fonts -----------------------------*/



