.contact-argos {
	.form-group {
		label {
			 font-family: AvenirLTStd-Heavy;
			  font-size: 16px;
			  font-weight: 900;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.63;
			  letter-spacing: normal;
			  color: #8b8b8b;
		}
	
		textarea {
			height: 352px;
		}
	}

	.form-control {
		 border-radius: 6px;
		  box-shadow: 0 2px 4px 0 rgba(32, 31, 76, 0.04);
		  border: solid 1px rgba(99, 186, 233, 0.4);
		  background-color: #ffffff;
		  height: 44px;
	      color: #63bae9;
	}
	
	
	.Envoyer-un-message {
		  font-size: 28px;
		  font-weight: lighter;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.21;
		  letter-spacing: -0.42px;
		  color: theme-color('priamry');
		}
	
	
		.home-emergency .emergency-box {
		    padding: 63px 44px 50px !important;
		    text-align: center;
		    
		    .btn-light{
		    	padding: 13px 20px;
		    }
		}
	
	
	.o_website_form_required .col-form-label:after, .o_website_form_required_custom .col-form-label:after {
	    content: ' *';
	    color: theme-color('secondary');
	}
	
	
	.Vero-culpa-quia-nihi {
		
		font-family: AvenirLTStd-Roman;
		  font-size: 16px;
		  font-weight: normal;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.63;
		  letter-spacing: normal;
		  color: #8b8b8b;
	}
}

.cli-contact {
	
		.La-clinique-la-plus {
			  font-size: 28px;
			  font-weight: lighter;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.21;
			  letter-spacing: -0.42px;
			  color: theme-color('priamry');
  
 }
}