.row.m-0.mx-md-3.my_content{
	@media (min-width: 768px) {
		.col-lg-12.mb-0.mb-md-5.p-0.p-md-3 {
			padding: 0 15px !important;
		}
		margin: 0 -15px !important;
	}
}
.my_content{
	.top-links{
		.navbar-nav{
			.nav-link {
			    padding: 17px 0;
			    font-family: AvenirLTStd-Roman;
			    font-size: 15px;
			    font-stretch: normal;
			    font-style: normal;
			    line-height: normal;
			    letter-spacing: normal;
			    width: max-content;
			}
			.nav-item{
				.nav-link.active{
					border-bottom: 2px solid theme-color('primary');
					font-family: AvenirLTStd-Heavy;
				}
			}
			.nav-item.active{
				.nav-link{
					border-bottom: 2px solid theme-color('primary');
					font-family: AvenirLTStd-Heavy;
					&:hover{
						color: theme-color('primary') !important;
					}
				}
			}
			@media (max-width: 767.98px) {
				.nav-item{
					margin-right: 16px !important;
					&:last-child{
						margin: 0 !important;
					}
				}
				&::-webkit-scrollbar {
				  	width: 0;
				  	height: 0;
				}
				overflow: scroll;
    			flex-wrap: nowrap;
			}
		} 
		padding: 10px;
	  	background-color: rgba(99, 186, 233, 0.04);
	}
	.common-portal{
		.active-order .nav-link{
			border-bottom: 2px solid theme-color('primary');
			font-family: AvenirLTStd-Heavy;
		}
		.active-address .nav-link{
			border-bottom: 2px solid theme-color('primary');
			font-family: AvenirLTStd-Heavy;
		}
		.active-info .nav-link{
			border-bottom: 2px solid theme-color('primary');
			font-family: AvenirLTStd-Heavy;
		}
	}
	.br-order-portal{
		display:none;
	}
	.br-order-portal.breadcrumb-order{
		display:block !important;
	}
	.br-address-portal{
		display:none;
	}
	.br-address-portal.breadcrumb-address{
		display:block !important;
	}
	.br-info-portal{
		display:none;
	}
	.br-info-portal.breadcrumb-info{
		display:block !important;
	}

	.heading{
		h1{
			font-family: Comfortaa-Bold;
		  	font-size: 40px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: -0.6px;
		}
		p{
			font-family: AvenirLTStd-Roman;
			  font-size: 16px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.63;
			  letter-spacing: normal;
			  margin-bottom: 0;
		}
	}
	.main-content{
		.card{
			a.btn{
				border-radius: 24px;
			}
			.link-btn{
				font-family: AvenirLTStd-Roman;
				  font-size: 14px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  text-align: center;
				  padding: 0 !important;
				  padding-bottom: 40px !important;
				  background-color: transparent;
				  border-color: transparent;
				  color: theme-color('primary');
			      text-decoration: underline !important;
					box-shadow: none;
					border-bottom: solid 1px rgba(139, 139, 139, 0.16) !important;
					border-radius: 0 !important;
			}
			.title-row{
				strong{
					font-family: AvenirLTStd-Heavy;
				    font-size: 12px;
				    font-weight: 900;
				    font-stretch: normal;
				    font-style: normal;
				    line-height: 1.67;
				    letter-spacing: 2px;
				    text-transform: uppercase;
				    color: theme-color('primary');
				}
				a{
					font-family: AvenirLTStd-Roman;
					  font-size: 14px;
					  font-weight: normal;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.86;
					  letter-spacing: normal;
					  color: #8b8b8b !important;
				}
			}
			.px-12{
				padding-top: 16px !important;
				padding-bottom: 4px !important;
			}
			.bottom-border{
				border-bottom: solid 1px rgba(139, 139, 139, 0.16);
			}
			.product-img{
				img{
				    max-height: 80px;
				}
			}
			.wishlist-product-img{
				img{
				    max-height: 137px;
				}
			}
			.status{
				font-family: AvenirLTStd-Roman;
				  font-size: 10px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: 1px;
				  border-radius: 4px;
				  padding: 6px;
				  margin-bottom: 8px;
				  border: solid 1px rgba(99, 186, 233, 0.4);
				  background-color: #ffffff;
				  color: theme-color('primary');
			      display: inline-block;
			      text-transform: uppercase;
			}
			.status-date{
				font-family: AvenirLTStd-Roman;
				  font-size: 16px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 1.63;
				  letter-spacing: normal;
				  color: #8b8b8b;
				  margin: 0;
			}

			.card-img-top{
				max-height: 124px;
				border-radius: 4px;
			    width: auto;
			}

			.ma-clinique{
				strong{
					font-family: AvenirLTStd-Heavy;
					  font-size: 16px;
					  font-weight: 900;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.38;
					  letter-spacing: normal;
					  color: theme-color('gamma');
				}
				p{
					font-family: AvenirLTStd-Roman;
					  font-size: 14px;
					  font-weight: normal;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.86;
					  letter-spacing: normal;
					  color: #8b8b8b;
					  margin-bottom: 0;
					  margin-top: 8px;
				}
			}

			.mon-prochain{
				img{
					border-radius: 5px;
					max-height: 90px;
				}
				.date-time{
					span{
						font-family: AvenirLTStd-Roman;
						  font-size: 14px;
						  font-weight: normal;
						  font-stretch: normal;
						  font-style: normal;
						  line-height: normal;
						  letter-spacing: normal;
						  color: #ffffff;
					}
					border-radius: 4px;
					background-color: theme-color('secondary');
				    padding: 7px;
    				line-height: normal;
				}
				.main-info{
					h1{
						font-family: AvenirLTStd-Heavy !important;
						  font-size: 14px;
						  font-weight: 900;
						  font-stretch: normal;
						  font-style: normal;
						  line-height: 1.38;
						  letter-spacing: normal;
						  color: theme-color('gamma');
					}
					strong{
					  font-family: AvenirLTStd-Heavy;
					  font-size: 16px;
					  font-weight: 900;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.38;
					  letter-spacing: normal;
					  color: theme-color('gamma');
					  padding-left:0px!important;
				}
				span{
					  font-size: 14px;
					  margin-top:0px;
				}
				a{
					 margin-bottom:0px!important;
				}
				}
			}

			.mes-product{
				strong{
					font-family: AvenirLTStd-Heavy;
					  font-size: 16px;
					  font-weight: 900;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.38;
					  letter-spacing: normal;
					  color: theme-color('gamma');
				}
				p{
					font-family: AvenirLTStd-Heavy;
					  font-size: 12px;
					  font-weight: 900;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 1.67;
					  letter-spacing: 2px;
					  text-transform: uppercase;
					  margin-bottom: 4px;
					  color: theme-color('primary');
				}
			}
			#fav-product-carousel{
				.carousel-item{
					padding: 0 25px;
				}
				.carousel-control-prev, .carousel-control-next{
					width: 0%;
					opacity: 1;
				}
			}
		    border-radius: 8px;
		    background-color: rgba(99, 186, 233, 0.04);
		    border: 0;
		    height: 100%;
		}
	}
	@media (max-width: 767.98px) {	
		.heading{
			h1{
				font-size: 28px !important;
			}
		}
		.o-1{
			order:1;
		}
		.o-2{
			order:2;
		}
		.o-3{
			order:3;
		}
		.o-4{
			order:4;
		}
		.o-5{
			order:5;
		}
		.o-6{
			order:6;
		}
		.o-7{
			order:7;
		}
		.o-8{
			order:8;
		}
	}
}

.o_portal_wrap  {
	.o_portal_navbar   {
		display:none;
	}
}

.o_portal .breadcrumb, .o_portal_wrap .o_portal_navbar .breadcrumb {
    display:none;
}

.mon-rendez-vous{
        date{
         font-family: AvenirLTStd-Roman;
              font-size: 16px;
              font-weight: 900;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.38;
              letter-spacing: normal;
              background-color: #6c757d;
              color: #ffffff;
;
        }
        strong{
            font-family: AvenirLTStd-Heavy;
              font-size: 16px;
              font-weight: 900;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.38;
              letter-spacing: normal;
              color: theme-color('gamma');
        }
        p{
            font-family: AvenirLTStd-Roman;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.86;
              letter-spacing: normal;
              color: #8b8b8b;
              margin-bottom: 0;
              margin-top: 8px;
        }
    }
.nom-address {
 img{
   margin-top: 22px;
 }
 p{
    margin-top: 22px;
    margin-left: -20px;
 }
 .display-block{
  display: block;
 }

 .email{
    color: theme-color('primary');
 }
}

.mes-prefernces {
  margin-left: 10px;
  margin-top: 22px;
}

.card .btn-primary.disabled,{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.32);
    border-color: rgba(222, 26, 70, 0.08);
}

.mes-cartes {
 img{
   margin-top: 22px;
 }
 p{
    margin-top: 22px;
    margin-left: -20px;
 }
 .display-block{
  display: block;
 }

 .email{
    color: theme-color('primary');
 }
}

.card-body .text-muted{
color: #8b8b8b!important;
}