#product_detail {
    /*padding: 32px 15px 0 !important;*/

	.form-inline.justify-content-end{
    	display:none !important;
    }
    .breadcrumb{
    	margin-bottom: 2rem !important;
    }
    #o-carousel-product {
    	padding-top:20px;
		.carousel-outer{
	    	width:100%;
	    	max-height:unset !important;
	    	order:2;
	    }
	    .h-100 {
	    	height: unset !important; 
		}
	    .carousel-outer:hover{
	    	.carousel-control-prev , .carousel-control-next{
	    		transform: translateY(0);
			    -webkit-transform: translateY(0);
			    opacity: 1;
			    visibility: visible;
	    	}
	    }
	    .carousel-control-prev , .carousel-control-next{
	    	top : 40%;
	    	width: 36px;
    		height: 60px;
	    	opacity: unset !important;
	    	background-color: #fff ;
	    	box-shadow: 0 1px 4px rgba(0,0,0,.1);
	    	opacity: 0;
		    visibility: hidden;
		    -webkit-transition: all .25s ease;
		    transition: all .25s ease;
	    	span{
    			color: #222;
    			background-color: unset !important ;
    			font-size: 15px;
	    	}
	    }
	    .carousel-indicators{
	    	text-align: unset !important;
	    	margin-left: unset !important;
	    	margin-right: unset !important;
    	    max-height: 600px;
    		overflow: scroll;
		    display: grid !important;
		    @media (max-width: 991.98px) {
	    		max-height: 450px;
	    	}
	    	@media (min-width: 992px) and (max-width: 1199.98px) {
	    		max-height: 500px;
	    	}
	    }
	    .carousel-indicators::-webkit-scrollbar {
		  	width: 1px;
		}
		.carousel-indicators::-webkit-scrollbar-thumb {
		  	background: #dbdbdb;
		}
	    display: -webkit-box !important;
	    display: -webkit-flex !important;
	    display: flex !important;
	    position: sticky !important;
	    top: 100px;
	}
	#product_details{
		padding-top:20px;
		#product_attributes_simple{
			display: none;
		}
		.category-wish{
			.argos_categ{
	    		p{
	    			font-size: 14px;
				    font-weight: 900;
				    margin-bottom: 0px;
				    text-transform: uppercase;
				    letter-spacing: 2.33px;
				    line-height: 1.43;
				    font-family:"AvenirLTStd-Heavy";
				    color:theme-color('primary');
	    		}
	    		a:hover{
	    			text-decoration:none;
	    		}
	    	}
	    }
	    .o_add_wishlist{
    		  font-size: 16px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: normal;
			  color: #8b8b8b;
			  font-family:"AvenirLTStd-Roman";
    	}
    	.argos_tags{
			.tag-name{
				border-radius: 4px;
			  	border: solid 1px rgba(99, 186, 233, 0.4);
			  	color:theme-color('primary');
			  	background-color: #ffffff;
			  	font-size:10px;
			  	margin-bottom:7px;
			  	font-weight: normal;
	  			font-stretch: normal;
				font-style: normal;
				line-height: normal;
				letter-spacing: 1px;
			  	text-transform: uppercase;
			  	padding: 3px;
			  	font-family:"AvenirLTStd-Roman";
			  	margin-right: 10px;
			}
		}
		.product-name {
			font-size: 28px;
	    	font-weight: 900;
	    	margin-bottom:16px;
	    	line-height: 38px;
	    	font-family:"AvenirLTStd-Heavy" !important;
	    	color:theme-color('gamma');
	    	letter-spacing: normal;
		}
		.product_ref_code{
			i{
				color:theme-color('secondary');
			}
			.text1{
				font-family: AvenirLTStd-Roman;
			  	font-size: 16px;
			  	font-weight: normal;
			  	font-stretch: normal;
			  	font-style: normal;
			  	line-height: normal;
			  	letter-spacing: normal;
			  	color: #8b8b8b;
			}
			.text2{
				font-family: AvenirLTStd-Heavy;
			  	font-size: 16px;
			  	font-weight: 900;
			  	font-stretch: normal;
			  	font-style: normal;
			  	line-height: 1.63;
			  	letter-spacing: normal;
			  	color: theme-color('primary');
			}
		}
		.product_price{
			.oe_price_h4{
				  font-family: AvenirLTStd-Roman !important;
				  font-size: 28px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  color: #424242;
			}
			b{
				font-weight: normal !important;
			}
		}
		.description{
			 font-size: 16px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 26px;
			  letter-spacing: normal;
			  color: #8b8b8b !important;
			  font-family:"AvenirLTStd-Roman";
		}
		.line{
		  height: 1px;
		  border: solid 1px rgba(139, 139, 139, 0.16);
		}
		.js_add_cart_variants{
			.variant_attribute{
				.attribute_name{
					display:none;
				}
				.list-unstyled {
					margin: 0 !important;
				    align-items: center;
				    input{
				    	display:none;
				    }
				    li {
					    display: inline-block;
					}
					.radio_input_value{
						border-radius: 24px;
					    border: solid 1px rgba(99, 186, 233, 0.4);
					    background-color:#fff;
					    padding: 0 15px;
					    line-height: 30px;
					    align-items: center;
					    text-align: center;
					    margin-right: 15px;
				    	text-decoration:none;
				    	color:theme-color('primary') !important;
				    	font-size:12px;
				    	font-weight: 900;
				    	font-family:AvenirLTStd-Heavy;
					}
					.radio_input_value.active{
						background-color:theme-color('primary') !important;
						color: white !important;
					}
				}
				.list-inline  {
					margin: 0 !important;
				}
			}
		}
		.css_quantity{
			.control-qty-cart {
				height:44px;
				width:100px;
				border-radius: 24px;
				margin-right:16px;
				border: solid 1px rgba(99, 186, 233, 0.4);
				background-color: #ffffff;
			}
			.control-qty{
				height: 100%;
    			align-items: center;
			}
			.form-control{
				border:none !important;
			}
			.js_add_cart_json {
				font-family: AvenirLTStd-Heavy;
				  font-weight: 900;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  text-align: center;
				  color: theme-color('primary');
			}
			 .form-control{
			 	font-family: AvenirLTStd-Heavy;
				  font-weight: 900;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: normal;
				  letter-spacing: normal;
				  text-align: center;
				  color: theme-color('primary');
			 }
			 display: none;
		}
		.a-submit{
			width: 452px;
  			height: 44px;
  			border-radius: 24px;
  			background-color: theme-color('primary');
  			font-family: AvenirLTStd-Heavy;
		  	font-size: 16px;
		  	font-weight: 900;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: normal;
		  	letter-spacing: normal;
		  	text-align: center;
		  	color: #ffffff;
		    justify-content: center;
		    align-items: center;

		    img{
				padding-right:5px;
			}
			.product_price{
				margin-top:0px !important;
			}
		  	.oe_price_h4{
		  		font-size: 16px;
		  		font-weight: 900;
		  		font-family: AvenirLTStd-Heavy !important;
		  		color: #ffffff;
		  		padding-left: 5px;
    			margin-bottom: 0 !important;
		  	}
		}
		.text{
			max-width: 549px;
		  	height: 48px;
		  	border-radius: 8px;
		  	background-color: rgba(99, 186, 233, 0.04);
    		line-height: 48px;
    		margin-top:25px;
    		padding:0 16px;
    		img{
    			width: 20px;
  				height: 20px;
  				object-fit: contain;
    		}
		  	span{
				font-family: AvenirLTStd-Roman;
			  	font-size: 14px;
			  	font-weight: normal;
			  	font-stretch: normal;
			  	font-style: normal;
			  	line-height: 1.86;
			  	letter-spacing: normal;
			}
			p{
				margin:0;
			}
			@media (max-width: 767.98px) {
				height: 74px !important;
				line-height: normal;
				.image{
					img{
						margin-right: 2rem !important;
					}
				}
			}
		}
	}
}
.main-footer{
	background-color: white;
/*	position:-webkit-sticky; */
	width: 100%;
	position:fixed;
	bottom:0;
	z-index: 99;
   }

   .product_tabs{
	#product_detail_tabs{
		-webkit-box-pack: center;
	    border-bottom: solid 1px rgba(139, 139, 139, 0.16);
	}
	.card-header {
	    margin-bottom: 0;
	    background-color: unset !important;
	    padding: 0.75rem !important;
	}
	.nav-tabs{
		.nav-item{
		    color: theme-color('primary') !important;
			margin-right: 30px;
		}
		.nav-link{
		    padding: 15px 10px;
		    color: #8b8b8b;
		    position: relative;
		    font-size: 15px;
		  	font-weight: 900;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: normal;
		  	letter-spacing: normal;
		  	text-align: center;
		  	font-family: AvenirLTStd-Roman;
		}
		.nav-link.active{
		    color: theme-color('primary') !important;
		}
		.nav-link:hover:before{
			width: 40px;
		}
		.nav-link:before{
			position: absolute;
		    content: "";
		    left: 50%;
		    bottom: 0;
		    height: 2px;
		    width: 0;
		    -webkit-transform: translateX(-50%);
		    transform: translateX(-50%);
		    -webkit-transition: .15s ease-in-out;
		    transition: .15s ease-in-out;
		    background: theme-color('primary') !important;
		}
		.nav-link.active, .nav-link:hover, .nav-link:focus  {
			border-color:transparent !important;
		}
		.active.nav-link:before{
			width: 100%;
		}
		.active.nav-link:after{
			opacity: 1;
		}
	}
	#accordion{
		.card{
			border:none !important;
			border-top: solid 1px rgba(139, 139, 139, 0.16) !important;
			padding:25px 0 !important;
			&:last-child{
				border-bottom: solid 1px rgba(139, 139, 139, 0.16) !important;
			}
		}
		.card-header{
			border:none !important;
			padding:0 !important;
		}
		.card-body{
			border:none !important;
			padding:0 !important;
		}
		button{
			border:none !important;
			font-family: AvenirLTStd-Heavy;
			  font-size: 16px;
			  font-weight: 900;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: normal;
			  letter-spacing: normal;
			  color: theme-color('primary'); 
			  padding:0;
			  width: 100%;
    		  text-align: left;
			 &:hover{
			 	text-decoration:none;
			 }
		}
		.btn-accordion:after {
		    content: '\f068';
		    font-family: 'FontAwesome';
		    display: inline-block;
		    margin: 0 .5em 0 .75em;
		    float: right;
		    color: theme-color('primary');
		    font-size: 16px;
			font-weight: 300;
		}
		.btn-accordion.collapsed:after {
		    content: '\f067';
		    font-family: 'FontAwesome';
		    float: right;
		    color: theme-color('primary');
			font-weight: 300;
		}
		.btn-accordion {
			font-family: AvenirLTStd-Heavy;
			font-size: 16px;
			font-weight: 900;
	        color: theme-color('primary'); 
			background-color: white;
			box-shadow: none;
		} 
	} 
}
.s_wsale_products_recently_viewed{
	h3{
		font-family: Comfortaa-Bold !important;
	  	font-size: 28px;
	  	font-weight: normal;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.21;
	  	letter-spacing: normal;
	  	color: theme-color('primary') !important;
    	text-align: left !important;
	}
	.card{
		padding: 20px;
		width: 259px;
		height: 444px !important;
		margin:auto;
		border: none !important;
	}
	 .o_carousel_product_card_img_top {
	    height: 15rem !important;
	}
	.card-body {
	    background-color: unset !important;
	    border :0 !important;
	    text-align: center;
	    padding:0 !important;
	    text-align:left !important;
	    margin-top:40px;
	}
	.d-product-name{
		font-family: AvenirLTStd-Heavy !important;
	  	font-size: 18px;
	  	font-weight: 900;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 22px;
	  	letter-spacing: normal;
	  	color: theme-color('gamma') !important;
	    text-align: left;
	    a{
	    	color: theme-color('gamma') !important;
	    }
	}
	.o_website_rating_static{
		padding-bottom: 10px;
		color:theme-color('secondary');

		.text-black-25:before{
			content: "\f006" !important;
			color:theme-color('secondary');
		}
	}
	.js_add_cart{
		display: -webkit-box !important;
	    display: -webkit-flex !important;
	    display: flex !important;
	    width: 100%;
		font-size:16px;
		text-decoration:none;
		border-radius: 24px;
		align-items: center;
		font-weight: 900;
		justify-content: center;
		transform: scale(1);
		text-align: center;
		font-family:"AvenirLTStd-Heavy";
		padding: 0;
		line-height:40px;
		border: solid 1px theme-color('primary');
		background-color: theme-color('primary');
		color:#fff;
	}
	
	.o_carousel_product_control{
		width: 48px;
	    height: 48px;
	    background-color: rgba(99, 186, 233, 0.04);
	    border: solid 1px rgba(99, 186, 233, 0.04) !important;
	    text-align: center !important;
	    border-radius: 100%;
	    transition: 0.3s;
		-webkit-transition: 0.3s;
		color: theme-color('primary') !important;
	}
	.carousel-control-prev, .carousel-control-next{
		span{
			color: theme-color('primary') !important;
			font-size: inherit;
			transition: 0.3s;
		 	-webkit-transition: 0.3s;
		}
	}
	.carousel-control-prev {
		right:5% !important;
		left :unset !important;
		top: -15% !important;
	}
	.carousel-control-next {
		top: -15% !important;
	}
	.o_carousel_product_control:hover{
		background-color: rgba(222, 26, 70, 0.04) !important;
		border-color:rgba(222, 26, 70, 0.04) !important;
		color: theme-color('secondary') !important;
	}
	@media (max-width: 767px) {
		h3{
			font-size: 18px !important;
		}
		.carousel-control-prev {
			right:15% !important;
			width: 40px !important;
    		height: 40px !important;
    		top: -14% !important;
		}
		.carousel-control-next {
			width: 40px !important;
    		height: 40px !important;
    		top: -14% !important;
		}
		.carousel-control-prev-icon , .carousel-control-next-icon{
			width: 15px !important;
    		height: 15px !important;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.carousel-control-prev {
			right:8% !important;
		}
		.card {
			padding: 0 !important;
			width:unset !important;
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.carousel-control-prev {
			right:6% !important;
		}
		.card {
			width:unset !important;
		}
	}
}
.alternative_product {
	.titre-art {
		font-family: Comfortaa-Bold !important;
	  	font-size: 28px;
	  	font-weight: normal;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.21;
	  	letter-spacing: normal;
	  	color: theme-color('primary') !important;
    	text-align: left !important;
	}
	a.btn-primary{
		display:none;
	}
	.alternative_product1{
		padding: 20px;
		max-width: 259px; 
		height: 444px;
		margin:auto;
	}
	.argos_tags{
		position: absolute;
	    top: 20px;
	    left: 0;
	    z-index: 5;
		.tag-name{
			border-radius: 4px;
		  	border: solid 1px rgba(99, 186, 233, 0.4);
		  	color:theme-color('primary');
		  	background-color: #ffffff;
		  	font-size:10px;
		  	margin-bottom:7px;
		  	font-weight: normal;
  			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 1px;
		  	text-transform: uppercase;
		  	padding: 3px;
		  	font-family:"AvenirLTStd-Roman";
		  	margin-right: 10px;
		}
	}
	.argos_categ{
		p{
			font-size: 12px;
		    font-weight: 900;
		    margin-bottom: 0px;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    line-height: 1.43;
		    font-family:"AvenirLTStd-Heavy";
		    color:theme-color('primary');
		    text-align: left;
		}
		a:hover{
			text-decoration:none;
		}
	}
	h6{
		margin-bottom: 0;
		a{
			font-family: AvenirLTStd-Heavy;
		  	font-size: 18px;
		  	font-weight: 900;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: 1.22;
		  	letter-spacing: normal;
		  	color: theme-color('gamma') !important;
		    text-align: left;
		}
	}
	.pro-rating{
		text-align: left;
		i{
			color:theme-color('secondary');
		}
		.text1{
			font-family: AvenirLTStd-Roman;
		  	font-size: 16px;
		  	font-weight: normal;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: normal;
		  	letter-spacing: normal;
		  	color: #8b8b8b;
		}
		.text2{
			display:none;
		}
	}
	a:hover{
		text-decoration:none !important;
		color:theme-color('primary') !important;
	}
	.product_price{
		justify-content: center !important;
		text-align: left;
		span{
			font-size:16px;
			margin-bottom: 0 !important;
			font-weight: 900;
			font-family:"AvenirLTStd-Heavy";
			color:theme-color('primary') !important;
			text-align: left;
		}
	}
	@media (max-width: 767.98px) {
		.alternative_product{
			.span{
				font-family: Comfortaa-Bold !important;
				font-size: 28px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.21;
				letter-spacing: normal;
				color: theme-color('primary') !important;
				text-align: left !important;
			}
		}	
		.alternative_product1 {
			max-width: 100% !important;
		}
	}
}
.product_price_white{
	justify-content: center !important;
	text-align: left;
	span{
		font-size:8px;
		margin-bottom: 0 !important;
		font-weight: 900;
		font-family:"AvenirLTStd-Heavy";
		color: white;
		text-align: left;
	}
}

.o_shop_discussion_rating{
	.stars.enabled {
		> .fa-star-o{
			color: theme-color('secondary') !important;
		}
		> .fa-star{
			color: theme-color('secondary') !important;
		}
	}
	.product-rating-star {
		.o_website_rating_static {
			i.fa.fa-star.text-black-25{
				color: theme-color('secondary') !important;
				&::before{
				    content: "\f006";
				}
			}
		}
	}
	#discussion{
		 border-top: solid 1px rgba(139, 139, 139, 0.16);
/*		 padding:50px 0 !important;
		 margin-top: 25px; */
	}
	h2{
		margin-bottom:40px;
	}
	.o_portal_chatter_header{
		display:none;
	}
	hr{
		display:none;
	}
	.o_website_rating_static{
		color: #de1a46 !important;
		margin-bottom: 15px;
	}
	.media{
		.media-body{
			> .position-relative > .o_website_rating_static {
				display: none;
			}
			border-bottom: none !important;
		}
	}
	.media-body{
		position: relative;
		padding: 30px 0;
		border-bottom: solid 1px rgba(139, 139, 139, 0.16);
	}
	p{
		font-size: 16px;
	    font-weight: normal;
	    font-stretch: normal;
	    font-style: oblique;
	    line-height: 1.63;
	    letter-spacing: normal;
	    color: #8b8b8b;
	    position: relative;
	    margin-bottom: 1rem !important;
	}
	.quote-image {
	    position: absolute;
	    left: 0px;
	    top: -15px;
	}
	.o_portal_chatter_message_title{

		h5{
			display: inline-block;
			font-family: AvenirLTStd-Heavy !important;
		    font-size: 12px;
		    font-weight: 900;
		    font-stretch: normal;
		    font-style: normal;
		    line-height: 1.67;
		    letter-spacing: 2px;
		    color: #63bae9;
		    text-transform: uppercase;
		    &:after{
		    	content: '|';
		    	margin:0 10px;
		    }
		}
		.o_portal_chatter_puslished_date{
			display: inline-block;
			font-family: AvenirLTStd-Heavy;
		    font-size: 12px !important;
		    font-weight: 900;
		    font-stretch: normal;
		    font-style: normal;
		    line-height: 1.67;
		    letter-spacing: 2px;
		    color: #63bae9 !important;
		    text-transform: uppercase;
		}
	}
	span {
		font-family: Comfortaa-Bold !important;
		font-size: 28px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.21;
		letter-spacing: normal;
		color: theme-color('primary') !important;
		text-align: left !important;
	}	
	.trier {
		font-size: 16px;
	}
	a:not([href]):not([tabindex]) {
			color: white; 
			text-decoration: none;
	}	
	a.btn {
		float: right;
	    margin-right: 0px;
	}
}
@media(max-width:767.98px){
	.dropdown_sorty_by {
		.btn-sortby {
			color: #63bae9;
			font-size: 16px;
			font-weight: 900;
			border: solid 2px rgba(99, 186, 233, 0.4);
			width: 100%;
			justify-content: center;
			align-items: center;
			text-align: left;
			margin-top: 4px;
		}
		a.dropdown-toggle{
			position: relative;
			&:after{
			transition: 0.2s;
			-webkit-transition: 0.2s;
			position: absolute;
			float: right;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			font-family: FontAwesome;
			content: '\f107';
			width: 16px;
			text-align: center;
			height: 16px;
			line-height: 16px;
			border: 0;
			color:theme-color('primary');
			font-size: 16px !important;
			font-weight: 900;
			}
		}
	}
	.label-filter {
		text-transform: none;
		border-radius: none;
		font-family: AvenirLTStd-Roman;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: black;
		padding: 15px 0 !important;
		margin: 0 !important;
		border-top: solid 1px rgba(139, 139, 139, 0.16);
		width: 100% !important;
		&:last-child{
		  border-bottom: 1px solid rgba(129,129,129,.2);
		}
	}
	.shop_page_filter .attribute_filter .dropdown-menu ul li label.active {
		background-color: white;
		font-size: 15px;
		padding: 8px 0 8px 0!important;
		margin: 0 !important;
	}
	.shop_page_filter .attribute_filter .dropdown-menu ul li span {
		text-transform: none;
		font-size: 15px;
		padding: 8px 0 8px 0!important;
		margin: 0 !important;
	}
	.shop_page_filter .attribute_filter .dropdown-menu ul li label {
		border-radius: 8px;
		background-color: #ffffff;
		font-family: AvenirLTStd-Roman;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #201f4c;
		padding: 8px 0 8px 0!important;
		margin: 0 !important;
	}
	.shop_page_filter .attribute_filter .dropdown-menu ul li {
		padding: 8px 0 8px 0!important;
		margin: 0 !important;
	}
}

.o_shop_discussion_rating #rating-carousel {
		display: none;
}

#discussion-product {
	.o_portal_chatter_message {
		display: none;
	}
	#rating-carousel {
		display: none;
	}
}
