.shop_home_banner{
	.Accueil-banner{
		border-radius: 8px;
  		background-color: rgba(139, 139, 139, 0.04);
  		padding: 30px;
	}
	.Promotions {
	  font-family: Comfortaa-Bold;
	  font-size: 28px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.21;
	  letter-spacing: normal;
	  color: #201f4c;
	}
	.Explicabo-ea-sint-co {
	  font-family: AvenirLTStd-Roman;
	  font-size: 16px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.63;
	  letter-spacing: normal;
	  color: #8b8b8b;
	}
	.bs-slider{
		.image{
			mix-blend-mode: multiply;
			img{
				mix-blend-mode: multiply;
			}
		}
		.Marque-lorem {
		  font-family: AvenirLTStd-Heavy;
		  font-size: 12px;
		  font-weight: 900;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.67;
		  letter-spacing: 2px;
		  color: theme-color('primary');
		  text-transform:uppercase;
		  margin-bottom:8px;
		}
		.steri {
		  font-family: AvenirLTStd-Heavy !important;
		  font-size: 18px;
		  font-weight: 900;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.22;
		  letter-spacing: normal;
		  color: #201f4c;
		  margin-bottom:20px;
		}
		.price1{
		  font-family: AvenirLTStd-Roman;
		  font-size: 12px;
		  font-weight: normal;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  color: #424242;
		  margin-bottom:10px;
		  text-decoration: line-through;
		  white-space: nowrap;
		}
		.price2 {
		  font-family: AvenirLTStd-Heavy;
		  font-size: 28px;
		  font-weight: 900;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  color: theme-color('secondary');
		}
		.slider-control{
			.carousel-control-prev, .carousel-control-next {
				width: 48px;
			    height: 48px;
			    background-color: rgba(99, 186, 233, 0.04);
			    opacity: 1;
			    color: theme-color('primary');
			    top: 50%;
			    transform: translateY(-50%);
			    -webkit-transform: translateY(-50%);
			    border-radius: 50%;
			}
			.carousel-control-prev:hover, .carousel-control-next:hover {
				background-color: rgba(139, 139, 139, 0.04);
				color: theme-color('secondary');
			}
			.carousel-control-prev{
				left: -20px;
			}
			.carousel-control-next{
				right: -20px;
			}
		}
	}
}

#planning_operating_unit_map {
    margin: 0 !important;
    width: 100% !important;
    border-radius: 10px;
}
@media screen and (min-width:768px){
    .clinic-fixBloc {
        max-height: 490px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0 !important;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .clinic-fixBloc .row.d-flex.align-items-stretch {
        width: 113% !important;
    }
    #planning_operating_unit_map {
        border-radius: 10px;
        top: 15px !important;
        height: 479px !important;
    }
}
.clinic-fixBloc .card.bg-white {
    margin-right: 0;
}
.clinic-fixBloc .card-footer {
    display: flex;
}
.clinic-fixBloc .card-footer {
    display: flex;
    padding: 0 4px !important;
}
.clinic-fixBloc .card-footer a {
    padding: 4px 12px;
    margin: 0 3px;
    font-size: 14px;
    width: 50%;
}
.clinic-fixBloc .card-body {
    padding-bottom: 10px;
}
.marker.argos-marker > b {
    font-size: 17px;
    color: #de1c47;
    display: block;
}
.argos-Caddress {
    display: block;
    font-size: 16px;
    margin: 10px 0 15px;
}
.marker.argos-marker button {
    color: #fff;
    width: 100%;
    border: none;
    background-color: #63bae9;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    border-radius: 20px;
}
.marker.argos-marker {
    padding: 13px;
}
#planning_operating_unit_map button.gm-ui-hover-effect {
    position: relative;
    top: 0 !important;
    right: 0 !important;
}