.fc-agendaWeek-view th.rotate > div {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
    padding: 1px;
    /*-webkit-transform: translate(0px, 0px) rotate(10deg);*/
    /*-moz-transform: translate(0px, 0px) rotate(10deg);*/
    /*-o-transform: translate(0px, 0px) rotate(10deg);*/
    /*-ms-transform: translate(0px, 0px) rotate(10deg);*/
    /*transform: translate(0px, 0px) rotate(10deg);*/
}

.calendar_agenda .fc-view-container {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
}

.calendar_agenda .fc-agendaWeek-view .fc-resource-cell {
    padding: 3px;
    vertical-align: middle;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaDay-view .fc-event.fc-v-event, .o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaWeek-view .fc-event.fc-v-event {
    word-wrap: break-word;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaDay-view .fc-time-grid .fc-slats .fc-minor td, .o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaWeek-view .fc-time-grid .fc-slats .fc-minor td {
    border-top-style: dotted !important;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaDay-view table td.fc-widget-content, .o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaWeek-view table td.fc-widget-content {
    border-left-color: #e9ecef;
    border-right-color: #e9ecef;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaDay-view .fc-axis, .o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaWeek-view .fc-axis {
    padding: 0 0px;
}

.o_calendar_view .o_calendar_widget .fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
    padding: 0em;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaDay-view .fc-event {
    padding: 1px;
}

.o_calendar_view .calendar_agenda .fc-event .fc-content {
    margin: 1px 2px;
    min-height: 35px;
}

.calendar_agenda .fc-time-grid .fc-slats td {
    height: 2em;
}

.fc-day-activity-grid, .fc-day-task-grid {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.fc-day-activity-grid .fc-day.fc-widget-content, .fc-day-task-grid .fc-day.fc-widget-content {
    text-align: center;
    vertical-align: middle;
}

.fc-agenda-view .fc-head-container.fc-widget-header {
    line-height: 0.8em;
}

.fc-agenda-view .fc-day-activity-grid .fc-row, .fc-agenda-view .fc-day-task-grid .fc-row, .fc-agenda-view .fc-day-grid .fc-row {
    min-height: 2em;
}

.calendar_agenda .o_mail_systray_item {
    padding: 5px;
}

.calendar_agenda .o_mail_systray_item:hover {
    background-color: #ebebeb;
}

.calendar_agenda .fc-day-header.fc-widget-header {
    text-transform: capitalize;
}

.calendar_agenda .fc-day-header.fc-widget-header {
    color: #63BAE9;
}

.calendar_agenda .fc-head-container.fc-widget-header {
    background-color: #FFF;
}

.calendar_agenda .fc-day-header.fc-widget-header.fc-cur-day span {
    background-color: #63BAE9;
    display: inline-block;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    color: #FFF;
}

.calendar_agenda td .fc-day.fc-resource-cell-first {
    border-left-color: #CCCCCC !important;
    border-left-width: 2px !important;
}

.calendar_agenda td .fc-day.fc-resource-cell-last {
    border-right-color: #CCCCCC !important;
    border-right-width: 2px !important;
}

.calendar_agenda .fc-time-grid .fc-now-indicator-line {
    border-top-width: 2px;
    border-color: #DE1A46;
}

.calendar_agenda .fc-time-grid .fc-now-indicator-arrow {
    margin-top: -4px;
    border-color: #DE1A46;
}

.calendar_agenda .fc-head {
    box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.16);
}

.calendar_agenda .o_event_hour {
    height: 12px;
    min-width: 60px;
    border-radius: 10px;
    margin: 2px;
    padding: 1px;
    margin-bottom: 7px;
    vertical-align: middle;
    font-size: 10px;
    overflow: hidden;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-widget-header {
    padding: 3px 0 0px;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-widget-header thead tr th {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaDay-view .fc-event.fc-v-event, .o_calendar_view .o_calendar_widget.calendar_agenda .fc-agendaWeek-view .fc-event.fc-v-event {
    border: 0px;
    border-radius: 10px;
    padding: 3px;
}

.btn-primary-agenda {
    background-color: #63BAE9;
    border-color: #63BAE9;
    border-radius: 15px;
}

.btn-secondary-agenda {
    background-color: #EEF7FC;
    border-color: #EEF7FC;
    border-radius: 15px;
    color: #DE1A46;
}

.btn-default-agenda {
    color: #666666;
}

.btn-primary-agenda:hover, .btn-primary-agenda:active, .btn-primary-agenda:not(:disabled):not(.disabled):active {
    background-color: #146591;
    border-color: #146591;
}

.btn-secondary-agenda:hover, .btn-secondary-agenda:active, .btn-secondary-agenda:not(:disabled):not(.disabled):active {
    background-color: #C4E3F4;
    color: #DE1A46;
}

.btn-default-agenda:hover, .btn-default-agenda.active {
    background-color: #EEF7FC !important;
}

.toogle_sidebar {
    height: 100%;
    margin-left: -15px;
    margin-right: 5px;
}

.toogle_sidebar_button {
    position: relative;
    top: 50%;
}