    @font-face{
        font-family:"AvenirLTStd-Black";
        src:url("/theme_argos/static/src/fonts/AvenirLTStd-Black.otf") format("truetype");
    }
    @font-face{
        font-family:"AvenirLTStd-Book";
        src:url("/theme_argos/static/src/fonts/AvenirLTStd-Book.otf") format("truetype");
    }
    @font-face{
        font-family:"AvenirLTStd-Heavy";
        src:url("/theme_argos/static/src/fonts/AvenirLTStd-Heavy.otf") format("truetype");
    }
    @font-face{
        font-family:"AvenirLTStd-Medium";
        src:url("/theme_argos/static/src/fonts/AvenirLTStd-Medium.otf") format("truetype");
    }
    @font-face{
        font-family:"AvenirLTStd-Roman";
        src:url("/theme_argos/static/src/fonts/AvenirLTStd-Roman.otf") format("truetype");
    }
    @font-face{
        font-family:"Comfortaa-Bold";
        src:url("/theme_argos/static/src/fonts/Comfortaa-Bold.ttf") format("truetype");
    }
    @font-face{
        font-family:"Comfortaa-Light";
        src:url("/theme_argos/static/src/fonts/Comfortaa-Light.ttf") format("truetype");
    }
    @font-face{
        font-family:"Comfortaa-Regular";
        src:url("/theme_argos/static/src/fonts/Comfortaa-Regular.ttf") format("truetype");
    }
