.application-heading{
	h1{
		font-family: Comfortaa-Bold;
	  	font-size: 40px;
	  	font-weight: normal;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: normal;
	  	letter-spacing: -0.6px;
	  	text-align: center;
	}
	padding: 30px 0 73px;
	background-color: rgba(99, 186, 233, 0.04);
}

.text-content{
	h3{
		font-family: Comfortaa-Bold;
	  	font-size: 28px;
	  	font-weight: normal;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.21;
	  	letter-spacing: -0.42px;
	}
	p{
	 	font-family: AvenirLTStd-Roman;
	  	font-size: 16px;
	  	font-weight: normal;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.63;
	  	letter-spacing: normal;
	}
	p.pb32{
		border-bottom: solid 1px rgba(139, 139, 139, 0.16);
	}
}

.form-heading{
	h3{
		font-family: Comfortaa;
	  	font-size: 28px;
	  	font-weight: lighter;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.21;
	  	letter-spacing: -0.42px;
	  	margin-bottom: 32px;
	}
	h5{
		font-family: AvenirLTStd-Heavy !important;
	  	font-size: 20px;
	  	font-weight: 900;
	  	font-stretch: normal;
	  	font-style: normal;
	  	line-height: 1.3;
	  	letter-spacing: normal;
	}
	padding: 47px 0 32px;
}

.contact-argos {
	.form-group {
		.votre-profil, label.lettre-de-motivation, .Conditions{
			font-family: AvenirLTStd-Heavy;
		  	font-size: 20px;
		  	font-weight: 900;
		  	font-stretch: normal;
		  	font-style: normal;
			line-height: 1.3;
		  	letter-spacing: normal;
		  	color: theme-color('gamma');
		  	border-top: solid 1px rgba(139, 139, 139, 0.16);
		  	width: 100%;
	  	}
	  	.check{
	  		font-family: AvenirLTStd-Roman;
		  	font-size: 16px;
		  	font-weight: normal;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: 1.63;
		  	letter-spacing: normal;
	  	}
	  	textarea.candidate-description {
	  		height: 132px;
	  	}
  	}
  	.custom-input::-webkit-file-upload-button {
	  visibility: hidden;
	}
	.custom-input{
		border:none !important;
		box-shadow: unset !important;
		padding:10px 0 !important;
	}
	#resume_file1{
		height: 64px !important;
		padding:20px 0 !important;
    	padding-left: 125px !important;
	    position: relative;
	}
	.custom-input::before {
	  content: 'Ajouter un fichier';
	  display: inline-block;
	  background-color: theme-color('primary');
	  border-radius: 22px;
	  padding: 10px 40px;
	  outline: none;
	  white-space: nowrap;
	  -webkit-user-select: none;
	  cursor: pointer;
	  font-weight: 900;
	  font-size: 16px;
	  color:#ffffff;
      	position: absolute;
	    left: 0;
	    top: 10px;
	}
}

.Offres-demploi-simi {
  font-family: Comfortaa-Bold;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.54px;
  text-align: center;
  color: theme-color('primary');
}
