.s_website_argos_product_slider{
	.bottom-text {
		margin-top:20px;
		span{
			font-size:12px;
			line-height:20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color:theme-color('secondary');
			font-weight: 900;
			font-family: AvenirLTStd-Heavy;
			font-stretch: normal;
		    font-style: normal;
		    line-height: 1.67;

		}
		a:hover{
			text-decoration:none;
		}
	}
	.block-title{
		margin-bottom: 30px;
		.filter{
			font-size:40px;
			color:theme-color('primary');
			font-weight:bold;
			font-family:"Comfortaa-Bold";
			font-stretch: normal;
		    font-style: normal;
		    line-height: normal;
		    letter-spacing: -0.6px;
		}
	}
	.product-item{
		width: 259px;
    	height: 444px;
	}
	.argos_tags{
		position: absolute;
	    top: -10px;
	    left: 0;
	    z-index: 5;
		.tag-name{
			border-radius: 4px;
		  	border: solid 1px rgba(99, 186, 233, 0.4);
		  	color:theme-color('primary');
		  	background-color: #ffffff;
		  	font-size:10px;
		  	margin-bottom:7px;
		  	font-weight: normal;
  			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 1px;
		  	text-transform: uppercase;
		  	padding: 2px;
		  	font-family:"AvenirLTStd-Roman";
		}
	}
	.o_wsale_product_btn{
		.cart_div_biz{
			height: 44px;
			width:226px;
			border-radius: 6px;
			border: solid 1px rgba(99, 186, 233, 0.4);
			background-color: #ffffff;
			padding:10px;
		}
		.a-submit{
			display: -webkit-box !important;
		    display: -webkit-flex !important;
		    display: flex !important;
		    width: 100%;
			font-size:16px;
			text-decoration:none;
			color:theme-color('primary');
			align-items: center;
			font-weight: 900;
			padding: 0px;
			justify-content: center;
			text-align: center;
			font-family:"AvenirLTStd-Heavy";
			img{
				width: unset !important;
				padding-right:10px;
			}
		}
	}
	.wislist_biz{
		.o_add_wishlist{
			position: absolute;
		    right: 0px;
		    top: 0px;
		}
	}
	.p-item-image{
		border:none !important;
	}
	.product-info{
		text-align: left;
    	.argos_categ{
    		p{
    			font-size: 12px;
			    font-weight: 900;
			    margin-bottom: 10px;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    line-height: 1.67;
			    font-family:"AvenirLTStd-Heavy";
			    color:theme-color('primary');
    		}
    		a:hover{
    			text-decoration:none;
    		}
    	}
		.product-title{
			font-size: 18px;
	    	font-weight: 900;
	    	margin-bottom:16px;
	    	line-height: 1.22;
	    	font-family:"AvenirLTStd-Heavy";
	    	span{
	    		color:theme-color('gamma');
	    	}
		}
		.product_price{
			margin-top:0 !important;

			.oe_price_h4{
				color:theme-color('primary');
				font-size:16px;
				padding-left: 5px;
				margin-bottom: 0 !important;
				font-weight: 900;
				font-family:"AvenirLTStd-Heavy";
			}
		}
	}
	.owl-nav{
		position: absolute;
		top: -17% !important;
		.owl-next, .owl-prev{
			.fa{
				color: theme-color('primary') !important;
    			font-size: inherit;
    			transition: 0.3s;
   		 		-webkit-transition: 0.3s;
			}
		    width: 48px;
		    height: 48px;
		    background-color: rgba(99, 186, 233, 0.04);
		    border: solid 1px rgba(99, 186, 233, 0.04) !important;
		    text-align: center !important;
		    border-radius: 100%;
		    transition: 0.3s;
   		 	-webkit-transition: 0.3s;
		}
		.owl-next:hover, .owl-prev:hover{
			.fa{
				color: theme-color('secondary') !important;
			}
			background-color: rgba(222, 26, 70, 0.04) !important;
			border-color: rgba(222, 26, 70, 0.04) !important;
		}
		.owl-prev {
			right:5% !important;
			left :unset !important;
		}
	}
	@media (max-width: 767px) {
		.block-title{
			margin-bottom: 20px;
			.filter{
				font-size:30px;
			}
		}
		.product-item{
			margin: auto;
		}
		.p-item-image {
			position: relative;
    		height: 280px;

    		img{
    			height: 250px;
    			width: 250px;
    		}
		}
		.argos_tags{
			left:10px !important;
		}
		.wislist_biz{
			.o_add_wishlist{
			    right: 10px;
			}
		}
		.owl-nav{
			display:none !important;
		}	
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.block-title{
			.filter{
				font-size:30px;
			}
		}
		.product-item{
			width:unset !important;
		}
		.argos_categ{
			p{
				font-size: 10px !important;
			}
		}
		.product-title {
    		font-size: 15px !important;
    	}
    	.o_wsale_product_btn{
    		.a-submit {
    			font-size: 14px !important;
    		}
    	}
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
			.owl-prev {
				right:8% !important;
			}
		}	
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.block-title{
			.filter{
				font-size:30px;
			}
		}
		.product-item{
			width:unset !important;
		}
		.product-title {
    		font-size: 15px !important;
    	}
    	.o_wsale_product_btn{
    		.a-submit {
    			font-size: 14px !important;
    		}
    	}
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
		}	
	}
}
.oe_multi_category_slider{
	.bottom-text {
		span{
			font-size:12px;
			line-height:20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color:theme-color('secondary');
			font-weight: 900;
			font-family: AvenirLTStd-Heavy;
			font-stretch: normal;
		    font-style: normal;
		    line-height: 1.67;

		}
		a:hover{
			text-decoration:none;
		}
	}
	.title-block {
		margin-bottom: 30px;
		.section-title{
			font-size:40px;
			color:theme-color('primary');
			font-weight:bold;
			font-family:"Comfortaa-Bold";
			font-stretch: normal;
		    font-style: normal;
		    line-height: normal;
		    letter-spacing: -0.6px;
		}
	}
	#multi_dynamic_slider_tabs{
		a{
			border-radius: 24px;
		    border: solid 1px rgba(99, 186, 233, 0.4);
		    background-color:#fff;
		    padding: 0 20px;
		    line-height: 44px;
		    align-items: center;
		    text-align: center;
		    margin-right: 25px;
	    	text-decoration:none;
	    	color:theme-color('primary') !important;
	    	font-size:16px;
	    	font-weight: bold;
	    	font-family:"Comfortaa-Bold";
	    }
	    a.active{
	    	background-color:theme-color('primary') !important;
	    	color:#fff !important;
	    }
	}
	.product-item{
		width: 259px;
    	height: 444px;
	}
	.argos_tags{
		position: absolute;
	    top: -10px;
	    left: 0;
	    z-index: 5;
		.tag-name{
			border-radius: 4px;
		  	border: solid 1px rgba(99, 186, 233, 0.4);
		  	color:theme-color('primary');
		  	background-color: #ffffff;
		  	font-size:10px;
		  	margin-bottom:7px;
		  	font-weight: normal;
  			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: 1px;
		  	text-transform: uppercase;
		  	padding: 2px;
		  	font-family:"AvenirLTStd-Roman";
		}
	}
	.o_wsale_product_btn{
		.cart_div_biz{
			height: 44px;
			width:226px;
			border-radius: 6px;
			border: solid 1px rgba(99, 186, 233, 0.4);
			background-color: #ffffff;
			padding:10px;
		}
		.a-submit{
			display: -webkit-box !important;
		    display: -webkit-flex !important;
		    display: flex !important;
		    width: 100%;
			font-size:16px;
			text-decoration:none;
			color:theme-color('primary');
			align-items: center;
			font-weight: 900;
			padding: 0px;
			justify-content: center;
			text-align: center;
			font-family:"AvenirLTStd-Heavy";
			img{
				width: unset !important;
				padding-right:10px;
			}
		}
	}
	.wislist_biz{
		.o_add_wishlist{
			position: absolute;
		    right: 0px;
		    top: 0px;
		}
	}
	.p-item-image{
		border:none !important;
	}
	.pwp-info{
		text-align: left;
		margin: auto;
    	.argos_categ{
    		p{
    			font-size: 12px;
			    font-weight: 900;
			    margin-bottom: 6px;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    line-height: 1.67;
			    font-family:"AvenirLTStd-Heavy";
    		}
    		a:hover{
    			text-decoration:none;
    		}
    	}
		.pwpi-title{
			font-size: 18px;
	    	font-weight: 900;
	    	margin-bottom:16px;
	    	line-height: 1.22;
	    	font-family:"AvenirLTStd-Heavy";
	    	span{
	    		color:theme-color('gamma');
	    	}
	    	a:hover{
	    		text-decoration:none;
	    	}
		}
		.product_price{
			margin-top:0 !important;

			.oe_price_h4{
				color:theme-color('primary');
				font-size:16px;
				padding-left: 5px;
				margin-bottom: 0 !important;
				font-weight: 900;
				font-family:"AvenirLTStd-Heavy";
			}
		}
	}
	.owl-nav{
		position: absolute;
		top: -22% !important;
		.owl-next, .owl-prev{
			.fa{
				color: theme-color('primary') !important;
    			font-size: inherit;
    			transition: 0.3s;
   		 		-webkit-transition: 0.3s;
			}
		    width: 48px;
		    height: 48px;
		    background-color: rgba(99, 186, 233, 0.04);
		    border: solid 1px rgba(99, 186, 233, 0.04) !important;
		    text-align: center !important;
		    border-radius: 100%;
		    transition: 0.3s;
   		 	-webkit-transition: 0.3s;
		}
		.owl-next:hover, .owl-prev:hover{
			.fa{
				color: theme-color('secondary') !important;
			}
			background-color: rgba(222, 26, 70, 0.04) !important;
			border-color: rgba(222, 26, 70, 0.04) !important;
		}
		.owl-prev {
			right:5% !important;
			left :unset !important;
		}
	}
	@media (max-width: 767px) {
		.title-block{
			margin-bottom: 20px;
			.section-title{
				font-size:30px;
			}
		}
		.product-item{
			margin: auto;
		}
		.p-item-image {
			position: relative;
    		height: 280px;

    		img{
    			height: 250px;
    			width: 250px;
    		}
		}
		.argos_tags{
			left:10px !important;
		}
		.wislist_biz{
			.o_add_wishlist{
			    right: 10px;
			}
		}
		.owl-nav{
			display:none !important;
		}		
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.title-block{
			.section-title{
				font-size:30px;
			}
		}
		.product-item{
			width:unset !important;
		}
		.argos_categ{
			p{
				font-size: 10px !important;
			}
		}
		.pwpi-title {
    		font-size: 14px !important;
    	}
    	.o_wsale_product_btn{
    		.cart_div_biz{
    			    width: 210px !important;
    		}
    		.a-submit {
    			font-size: 14px !important;
    		}
    	}
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
			.owl-prev {
				right:8% !important;
			}
		}	
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.title-block{
			.section-title{
				font-size:30px;
			}
		}
		.product-item{
			width:unset !important;
		}
		.pwpi-title {
    		font-size: 14px !important;
    	}
    	.o_wsale_product_btn{
    		.cart_div_biz{
    			    width: 210px !important;
    		}
    		.a-submit {
    			font-size: 14px !important;
    		}
    	}
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
		}		
	}
}
#biz_blog_slider_snippet{
	.bottom-text {
		margin-top:20px;
		span{
			font-size:12px;
			line-height:20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color:theme-color('secondary');
			font-weight: 900;
			font-family: AvenirLTStd-Heavy;
			font-stretch: normal;
		    font-style: normal;
		    line-height: 1.67;

		}
		a:hover{
			text-decoration:none;
		}
	}
	.comm_blog_box:hover {
	    border-color: #fff;
	    z-index: 1;
	}
	.section-post-media {
		height:228px;
		border-radius: 0.4rem !important;
	}
	.tag{
		position: absolute;
	    padding: 0.7rem;
	    top: 0;
		p {
		    border-radius: 4px !important;
			border: solid 1px rgba(99, 186, 233, 0.4) !important;
			background-color: #ffffff;
			padding: 0.4em 0.6em;
			font-size: 10px;
			line-height: normal;
			letter-spacing: 1px;
			color: theme-color('primary') !important;
			text-transform: uppercase;
			font-family: AvenirLTStd-Roman;
	    }
	}
	.block-title {
	    margin-bottom: 40px;
	    text-align: left;
	    h2 {
		  font-size: 36px;
			  font-weight: bold;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.22;
  			  letter-spacing: -0.54px;
			  color:theme-color('primary');
		      font-family: Comfortaa-Bold;
		}
	}
	.date-post {
    	.pos {
    		font-family: AvenirLTStd-Heavy;
		  	font-size: 12px;
		  	font-weight: 900;
		  	font-stretch: normal;
		  	font-style: normal;
		  	line-height: 1.67;
		  	letter-spacing: 2px;
		  	color:theme-color('primary');
	      	padding-right: 0px !important;
		  	padding-left: 0px !important;
		  	text-transform: uppercase;
    	}
	}
	.comm_base_class{
		position: unset !important;
		margin-left: 0 !important;
		text-align:left !important;
		padding-top: 10px;
		max-width: unset !important;

		h3{
			font-size: 20px;
			  font-weight: 900;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.3;
			  letter-spacing: normal;
			  color: #201f4c !important;
			  font-family: AvenirLTStd-Heavy !important;
			  padding-top: 11px;
			  &:hover{
			  	color: theme-color('secondary') !important;
			  }
		}
		.comm_hover_blog_content{
			font-family: AvenirLTStd-Roman;
			  font-size: 16px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.63;
			  letter-spacing: normal;
			  color: #8b8b8b;
			  padding-top: 9px;
			  display: block;
		      display: -webkit-box;
		      -webkit-line-clamp: 5;
		      -webkit-box-orient: vertical;
		      overflow: hidden;
		      text-overflow: ellipsis;
		}
	}
	a:hover{
		text-decoration:none !important;
	}
	.owl-nav{
		position: absolute;
		top: -18% !important;
		.owl-next, .owl-prev{
			.fa{
				color: theme-color('primary') !important;
    			font-size: inherit;
    			transition: 0.3s;
   		 		-webkit-transition: 0.3s;
			}
		    width: 48px;
		    height: 48px;
		    background-color: rgba(99, 186, 233, 0.04);
		    border: solid 1px rgba(99, 186, 233, 0.04) !important;
		    text-align: center !important;
		    border-radius: 100%;
		    transition: 0.3s;
   		 	-webkit-transition: 0.3s;
		}
		.owl-next:hover, .owl-prev:hover{
			.fa{
				color: theme-color('secondary') !important;
			}
			background-color: rgba(222, 26, 70, 0.04) !important;
			border-color: rgba(222, 26, 70, 0.04) !important;
		}
		.owl-prev {
			right:5% !important;
			left :unset !important;
		}
	}
	@media (max-width: 767px) {
		.owl-nav{
			display:none !important;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
			.owl-prev {
				right:8% !important;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
		}	
	}
}
#website_argos_custom_category_slider_3{
	.owl-nav{
		position: absolute;
		top: -18% !important;
		.owl-next, .owl-prev{
			.fa{
				color: theme-color('primary') !important;
    			font-size: inherit;
    			transition: 0.3s;
   		 		-webkit-transition: 0.3s;
			}
		    width: 48px;
		    height: 48px;
		    background-color: rgba(99, 186, 233, 0.04);
		    border: solid 1px rgba(99, 186, 233, 0.04) !important;
		    text-align: center !important;
		    border-radius: 100%;
		    transition: 0.3s;
   		 	-webkit-transition: 0.3s;
		}
		.owl-next:hover, .owl-prev:hover{
			.fa{
				color: theme-color('secondary') !important;
			}
			background-color: rgba(222, 26, 70, 0.04) !important;
			border-color: rgba(222, 26, 70, 0.04) !important;
		}
		.owl-prev {
			right:5% !important;
			left :unset !important;
		}
	}
	@media (max-width: 767px) {
		.owl-nav{
			display:none !important;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
			.owl-prev {
				right:8% !important;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.owl-nav{
			.owl-next, .owl-prev{
				width: 40px !important;
    			height: 40px !important;
			}
		}	
	}
}